[MAIN]
disable=C0114, # missing-module-docstring
        C0115, # missing-class-docstring
        C0116, # missing-function-docstring
        E0611, # no-name-in-module
        R0902, # too-many-instance-attributes
        R0913, # too-many-arguments
        R0914, # too-many-locals
        W1514, # unspecified-encoding
        R1710, # inconsistent-return-statements
        R1732, # consider-using-with

[FORMAT]
max-line-length=120

[BASIC]
argument-naming-style=any
attr-naming-style=any
function-naming-style=any
module-naming-style=any
variable-naming-style=any

[DESIGN]
# max-args=
# max-attributes=
max-branches=15
# max-locals=
min-public-methods=0

[EXCEPTIONS]
overgeneral-exceptions = builtins.[]

[MISCELLANEOUS]
notes = ["FIXME", "XXX"]