/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * The MIT License (MIT)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
*/

html {
    height: 100%;
    width: 100%;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

form {
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited {
    color: #333;
}

header {
    height: 44px;
    background: #3D4A6B;
    height: 80px;
    margin: 0 auto;
    min-width: 600px;
    width: auto;
}

header img {
    margin: 12px 0 0 16px;
}

.main-panel {
    margin: 80px auto 16px;
    width: 600px;
}

.portal-name {
    font-size: 20px;
}

.portal-descr {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 20px;
    width: 600px;
}

pre {
    border: 1px solid #CCC;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    font-family: Monaco,Andale Mono,Courier New,monospace;
    font-size: 12px;
    line-height: 18px;
    margin: 18px 0 24px;
    padding: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

    pre.hljs {
        padding-left: 35px;
    }

.features-list {
    padding-left: 16px;
    list-style: outside none disc;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

footer {
    text-align: right;
    width: auto;
    margin-bottom: 15px;
    margin-right: 15px;
}

.help-block span {
    font-size: 16px;
    line-height: 26px;
}

.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
