<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <clear />
  <add key="version" value="1.7.0"/>

  <add key="filesize-max" value="52428800"/>
  <add key="storage-path" value=""/>

  <add key="files.docservice.fillform-docs" value=".docx|.oform"/>
  <add key="files.docservice.viewed-docs" value=".djvu|.oxps|.pdf|.xps"/>
  <add key="files.docservice.edited-docs" value=".csv|.docm|.docx|.docxf|.dotm|.dotx|.epub|.fb2|.html|.odp|.ods|.odt|.otp|.ots|.ott|.potm|.potx|.ppsm|.ppsx|.pptm|.pptx|.rtf|.txt|.xlsm|.xlsx|.xltm|.xltx"/>
  <add key="files.docservice.convert-docs" value=".doc|.dot|.dps|.dpt|.epub|.et|.ett|.fb2|.fodp|.fods|.fodt|.htm|.html|.mht|.mhtml|.odp|.ods|.odt|.otp|.ots|.ott|.pot|.pps|.ppt|.rtf|.stw|.sxc|.sxi|.sxw|.wps|.wpt|.xls|.xlsb|.xlt|.xml"/>
  <add key="files.docservice.timeout" value="120000" />
  <add key="files.docservice.secret" value="" />
  <add key="files.docservice.header" value="Authorization" />
  <add key="files.docservice.verify-peer-off" value="true"/>

  <add key="files.docservice.token.useforrequest" value="true" />

  <add key="files.docservice.languages" value="en:English|hy:Armenian|az:Azerbaijani|eu:Basque|be:Belarusian|bg:Bulgarian|ca:Catalan|zh:Chinese (Simplified)|zh-TW:Chinese (Traditional)|cs:Czech|da:Danish|nl:Dutch|fi:Finnish|fr:French|gl:Galego|de:German|el:Greek|hu:Hungarian|id:Indonesian|it:Italian|ja:Japanese|ko:Korean|lo:Lao|lv:Latvian|ms:Malay (Malaysia)|no:Norwegian|pl:Polish|pt:Portuguese (Brazil)|pt-PT:Portuguese (Portugal)|ro:Romanian|ru:Russian|si:Sinhala (Sri Lanka)|sk:Slovak|sl:Slovenian|es:Spanish|sv:Swedish|tr:Turkish|uk:Ukrainian|vi:Vietnamese|aa-AA: Test Language"/>

  <add key="files.docservice.url.site" value="http://documentserver/"/>

  <add key="files.docservice.url.converter" value="ConvertService.ashx"/>
  <add key="files.docservice.url.api" value="web-apps/apps/api/documents/api.js"/>
  <add key="files.docservice.url.preloader" value="web-apps/apps/api/documents/cache-scripts.html"/>
  <add key="files.docservice.url.command" value="coauthoring/CommandService.ashx"/>

  <add key="files.docservice.url.example" value=""/>

</appSettings>