<?xml version="1.0"?>
<appSettings>
  <clear />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="filesize-max" value="5242880"/>

  <add key="files.docservice.viewed-docs" value=".pdf|.djvu|.xps"/>
  <add key="files.docservice.edited-docs" value=".docx|.xlsx|.csv|.pptx|.txt"/>
  <add key="files.docservice.convert-docs" value=".docm|.dotx|.dotm|.dot|.doc|.odt|.fodt|.ott|.xlsm|.xltx|.xltm|.xlt|.xls|.ods|.fods|.ots|.pptm|.ppt|.ppsx|.ppsm|.pps|.potx|.potm|.pot|.odp|.fodp|.otp|.rtf|.mht|.html|.htm|.epub"/>
  <add key="files.docservice.timeout" value="120000" />

  <add key="files.docservice.url.converter" value="https://documentserver/ConvertService.ashx"/>
  <add key="files.docservice.url.api" value="https://documentserver/web-apps/apps/api/documents/api.js"/>
  <add key="files.docservice.url.preloader" value="https://documentserver/web-apps/apps/api/documents/cache-scripts.html"/>
</appSettings>
