<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000">
          <headerLimits>
            <add header="Content-type" sizeLimit="100"/>
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <modules/>
    <defaultDocument enabled="true" />
    <httpErrors errorMode="Detailed"/>
    <urlCompression doDynamicCompression="false"/>
  </system.webServer>
</configuration>
