<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true" />
    <httpErrors errorMode="Detailed"/>
    <urlCompression doDynamicCompression="false"/>
  </system.webServer>
</configuration>
