/*
 *
 * (c) Copyright Ascensio System Limited 2010-2017
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/

html {
    height: 100%;
    width: 100%;
}
body {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
form {
    height: 100%;
}
div {
    margin: 0;
    padding: 0;
}
a, a:hover, a:visited {
    color: #333;
}
header {
    height: 44px;
    background: #3D4A6B;
    height: 80px;
    margin: 0 auto;
    min-width: 600px;
    width: auto;
}

header img {
    margin: 12px 0 0 16px;
}

.main-panel {
    margin: 80px auto 16px;
    width: 600px;
}
.portal-name {
    font-size: 20px;
}
.portal-descr {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 20px;
    width: 600px;
}
label .checkbox {
    margin: 0 5px 3px 0;
    vertical-align: middle;
}

.try-descr {
    font-size: 16px;
    white-space : nowrap;
}

.try-editor-list {
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
}
.try-editor-list li {
    float: left;
    margin: 0 15px;
    width: 100px;
}
.try-editor {
    background-color: transparent;
    background-position: center 0;
    background-repeat: no-repeat;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    padding-top: 100px;
    text-align: center;
    text-decoration: none;
}
.try-editor.document {
    background-image: url("../images/file_docx.png");
}
.try-editor.spreadsheet {
    background-image: url("../images/file_xlsx.png");
}
.try-editor.presentation {
    background-image: url("../images/file_pptx.png");
}
.create-sample {
    margin-left: 75px;
}
.button, .button:visited, .button:hover, .button:active {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;    
    cursor:pointer;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    touch-callout: none;
    -o-touch-callout: none;
    -moz-touch-callout: none;
    -webkit-touch-callout: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    line-height: 16px;
    margin-right: 3px;
    padding: 4px 12px;

    color: #fff; 

    background: #3D96C6;

    border-width: 1px;
    border-style: solid;
    border-color: #3D96C6;
}

.button.disable {
    cursor: default;
    background: #BADDEF;
    border: 1px solid #BADDEF;
}
.button.gray {
    background: #ebebeb;
    border: 1px solid #D0D0D0;
    color: #333;
}

.upload-panel {
    border-right: 1px solid #D1D1D1;
    float: left;
    margin-right: 25px;
}
.file-upload {
    background: url("../images/file_upload.png") no-repeat center 0 transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    margin: 0 40px 16px;
    overflow: hidden;
    padding-top: 100px;
    position: relative;
    text-align: center;
    width: 100px;
}
.file-upload input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(555px, 60px) scale(8);
}
.create-panel {
    float: left;
}
.upload-panel,
.create-panel {
    padding: 10px 0;
}

#mainProgress {
    color: #979b9f;
    display: none;
    margin: 15px;
}
#mainProgress #embeddedView {
    display: none;
}
#mainProgress.embedded #embeddedView {
    display: block;
}
#mainProgress.embedded #uploadSteps {
    display: none;
}
.error-message {
    background: url("../images/alert.png") no-repeat scroll 4px 10px #FFECE3;
    color: #666668 !important;
    display: none;
    font-size: 13px;
    font-weight: normal;
    margin: 5px 0;
    padding: 10px 10px 10px 30px;
    vertical-align: middle;
}
#mainProgress .error-message a {
    color: #666668;
}
.step {
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    color: #979B9F;
    font-size: 14px;
    line-height: 30px;
    padding-left: 25px;
}
.current {
    background-image: url("../images/loader16.gif");
    color: #333;
}
.done {
    background-image: url("../images/done.png");
    color: #333;
}
.error {
    background-image: url("../images/alert.png");
}
.step-descr {
    display: block;
    margin-left: 45px;
}
#mainProgress .step-descr a {
    color: #979B9F;
}
.progress-descr {
    color: #333;
}
#loadScripts {
    display: none;
}
#iframeScripts {
    position: absolute;
    visibility: hidden;
}
footer {
    text-align: right;
    width: auto;
    margin-bottom: 15px;
    margin-right: 15px;
}
.help-block span {
    font-size: 16px;
    line-height: 26px;
}

.stored-list {
    border-top: 1px solid #D1D1D1;
    list-style: none;
    margin: 0;
    padding: 0;
}
.stored-list li {
    border-bottom: 1px solid #D1D1D1;
    line-height: 28px;
    padding: 0 8px;
}
.stored-edit {
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    max-width: 250px;
    margin-bottom: -6px;
    overflow: hidden;
    padding: 8px 0 1px 34px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stored-edit.text {
    background-image: url("../images/icon_docx.png");
}
.stored-edit.spreadsheet {
    background-image: url("../images/icon_xlsx.png");
}
.stored-edit.presentation {
    background-image: url("../images/icon_pptx.png");
}
.stored-edit span {
    font-size: 12px;
    line-height: 12px;
    vertical-align: top;
}
.stored-edit:hover span {
    text-decoration: underline;
}
.stored-download {
    color: #787878;
    float: right;
    text-decoration: none;
}
.stored-download:hover {
    color: #787878;
    text-decoration: underline;
}

.blockTitle {
    background-color: #E2E2E2 !important;
    border: none !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    padding: 15px 25px !important;
}
.dialog-close {
    background: url("../images/close.png") no-repeat scroll left top #E2E2E2;
    cursor: pointer;
    float: right;
    font-size: 1px;
    height: 12px;
    line-height: 1px;
    margin-top: 4px;
    width: 12px;
}
.blockPage {
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0 !important;
}

.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.td100 {
    width: 100%;
}

.block-lang {
    padding-right: 10px;
    padding-top: 9px;
} 
/*Icon table*/
#tableRow {
    vertical-align: top;
}
.tableRow {
	background: transparent;

    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tableRow:hover {
	background-color: #ebebeb;
}

.tableHeader {
    background: transparent;
    color: #333;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 40px;
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.tableHeaderCell {
    padding: 2px 1px 2px 5px;
    text-align: center;
}
.tableHeaderCellFileName {
    text-align: left;
}
.contentCells {
    padding: 4px 1px 4px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.contentCells-shift {
    padding-right: 30px;
}
.contentCells-icon {
    width: 6%;
}
.contentCellsSmall {
    padding: 5px 1px 5px 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
    text-align: center;
}
.primaryRow {
    background-color: #e9e9e9;
}
.secondaryRow {
    background-color: #F9F9F9;
}
.select-user {
    margin-left: 15px;
}
.user-block-table {
    height: 100%;
    width: 100%;
}
.user-block-table td {
    background-color: #F4F4F4;
    border-bottom: 1px solid white;
    padding: 12px 0;
}
#user, #language {
    width: 130px;
}
.icon-download {
    margin-bottom: -5px;
}
.icon-delete {
    cursor: pointer;
    margin-bottom: -6px;
}
