<template id="action-editable">
    <td class="contentCells contentCells-icon">
        <a href="&action=edit&type=desktop" target="_blank">
            <img src="assets/images/desktop.svg" alt="Open in editor for full size screens"
                title="Open in editor for full size screens">
        </a>
    </td>
    <td class="contentCells contentCells-icon">
        <a href="&action=edit&type=mobile" target="_blank">
            <img src="assets/images/mobile.svg" alt="Open in editor for mobile devices"
                title="Open in editor for mobile devices">
        </a>
    </td>
    <td class="contentCells contentCells-icon">
        <a href="&action=comment&type=desktop" target="_blank">
            <img src="assets/images/comment.svg" alt="Open in editor for comment" title="Open in editor for comment">
        </a>
    </td>
</template>
<template id="type-word">
    <td class="contentCells contentCells-icon">
        <a href="&action=review&type=desktop" target="_blank">
            <img src="assets/images/review.svg" alt="Open in editor for review" title="Open in editor for review">
        </a>
    </td>
    <td class="contentCells contentCells-icon">
        <a href="&action=blockcontent&type=desktop" target="_blank">
            <img src="assets/images/block-content.svg" alt="Open in editor without content control modification"
                title="Open in editor without content control modification">
        </a>
    </td>
</template>
<template id="type-cell">
    <td class="contentCells contentCells-icon">
        <a href="&action=filter&type=desktop" target="_blank">
            <img src="assets/images/filter.svg" alt="Open in editor without access to change the filter"
                title="Open in editor without access to change the filter">
        </a>
    </td>
</template>
<template id="action-fillable">
    <td class="contentCells contentCells-icon firstContentCellShift contentCells-shift">
        <a href="&action=fillForms&type=desktop" target="_blank">
            <img src="assets/images/fill-forms.svg" alt="Open in editor for filling in forms"
                title="Open in editor for filling in forms">
        </a>
    </td>
    <td class="contentCells contentCells-icon">
        <a href="&action=fillForms&type=desktop" target="_blank">
            <img src="assets/images/mobile-fill-forms.svg" alt="Open in editor for filling in forms for mobile devices"
                title="Open in editor for filling in forms for mobile devices">
        </a>
    </td>
</template>