<td class="contentCells contentCells-icon firstContentCellViewers">
    <a href="&action=view&type=desktop" target="_blank">
        <img src="assets/images/desktop.svg" alt="Open in viewer for full size screens"
            title="Open in viewer for full size screens">
    </a>
</td>
<td class="contentCells contentCells-icon">
    <a href="&action=edit&type=mobile" target="_blank">
        <img src="assets/images/mobile.svg" alt="Open in viewer for mobile devices"
            title="Open in viewer for mobile devices">
    </a>
</td>
<td class="contentCells contentCells-icon contentCells-shift">
    <a href="&action=embedded&type=embedded" target="_blank">
        <img src="assets/images/embeded.svg" alt="Open in embedded mode" title="Open in embedded mode">
    </a>
</td>