/*
 *
 * (c) Copyright Ascensio System SIA 2019
 *
 * The MIT License (MIT)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
*/

html {
    height: 100%;
    width: 100%;
}
body {
    background: #fff;
    color: #333;
    font-family: Arial, Tahoma,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
form {
    height: 100%;
}
div {
    margin: 0;
    padding: 0;
}


.top-panel {
    background: url("logo.png") no-repeat 30px center #3D4A6B;
    height: 80px;
    width: 100%;
}
.main-panel {
    margin: 105px auto 0;
    width: 350px;
}
.portal-name {
    color: #3D4A6B;
    font-size: 20px;
}
.portal-descr {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 24px;
    width: 480px;
}
.document-url {
    height: 65px;
    resize: vertical;
    width: 350px;
}
.embedded {
    margin: 105px auto 0;
    width: 640px;
}

.button, .button:visited, .button:hover, .button:active {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;    
    cursor:pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    touch-callout: none;
    -o-touch-callout: none;
    -moz-touch-callout: none;
    -webkit-touch-callout: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 12px;

    color: #fff; 

    background: #3D96C6;

    border-width: 1px;
    border-style: solid;
    border-color: #3D96C6;
}