/*
 *
 * (c) Copyright Ascensio System Limited 2010-2018
 *
 * The MIT License (MIT)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
*/

html {
    height: 100%;
    width: 100%;
}
body {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Tahoma,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
form {
    height: 100%;
}
div {
    margin: 0;
    padding: 0;
}
a, a:hover, a:visited {
    color: #333;
}


.top-panel {
    background: url("img/logo.png") no-repeat 30px center #3D4A6B;
    height: 80px;
    width: 100%;
}
.main-panel {
    margin: 80px auto;
    width: 600px;
}
.portal-name {
    font-size: 20px;
}
.portal-descr {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 24px;
    width: 600px;
}
.save-original {
    color: #929597;
    line-height: 20px;
    margin-left: 16px;
    white-space: nowrap;
    width: 272px;
}
label .checkbox {
    vertical-align: middle;
}
.question {
    background: url("img/question_small.png") no-repeat center center transparent;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
}
#hint {
    background-color: #FFFFFF;
    border: 1px solid #8E908F;
    display: none;
    margin: 4px 0 0 -32px;
    max-width: 415px;
    padding: 10px 15px 15px;
    word-wrap: break-word;
    z-index: 255;
}
.corner {
    background: url("img/corner.png") no-repeat scroll 0 0 transparent;
    height: 6px;
    left: 35px;
    margin-top: -15px;
    position: absolute;
    width: 9px;
    z-index: 261;
}
.try-descr {
    font-size: 16px;
    white-space : nowrap;
}

.try-editor-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.try-editor-list li {
    float: left;
    margin: 25px;
    width: 150px;
}
.try-editor {
    background-color: transparent;
    background-position: center 0;
    background-repeat: no-repeat;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    padding-top: 100px;
    text-align: center;
    text-decoration: none;
}
.try-editor.document {
    background-image: url("img/file_docx.png");
}
.try-editor.spreadsheet {
    background-image: url("img/file_xlsx.png");
}
.try-editor.presentation {
    background-image: url("img/file_pptx.png");
}

.button, .button:visited, .button:hover, .button:active {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;    
    cursor:pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    touch-callout: none;
    -o-touch-callout: none;
    -moz-touch-callout: none;
    -webkit-touch-callout: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    line-height: 16px;
    margin-right: 3px;
    padding: 4px 12px;

    color: #fff; 
    
    background: #3D96C6;

    border-width: 1px;
    border-style: solid;
    border-color: #3D96C6;
}

.button.disable {
    cursor: default;
    background: #BADDEF;
    border: 1px solid #BADDEF;   
}
.button.gray {
    background: #888;
    border: 1px solid #E9EAEA;
}

.file-upload {
    cursor: pointer;
    margin-bottom: 8px;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
}
.file-upload span {
    line-height: 21px;
    margin: 2px 12px;
}
.file-upload input {
    cursor: pointer;
    font-size: 23px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0) scale(4);
}

#mainProgress {
    color: #979b9f;
    display: none;
    margin: 15px;
}
#mainProgress #embeddedView {
    display: none;
}
#mainProgress.embedded #embeddedView {
    display: block;
}
#mainProgress.embedded #uploadSteps {
    display: none;
}
.error-message {
    background: url("img/alert.png") no-repeat scroll 4px 10px #FFECE3;
    color: #666668 !important;
    display: none;
    font-size: 13px;
    font-weight: normal;
    margin: 5px 0;
    padding: 10px 10px 10px 30px;
    vertical-align: middle;
}
#mainProgress .error-message a {
    color: #666668;
}
.step {
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    color: #979B9F;
    font-size: 14px;
    line-height: 30px;
    padding-left: 25px;
}
.current {
    background-image: url("img/loader16.gif");
    color: #333;
}
.done {
    background-image: url("img/done.png");
    color: #333;
}
.error {
    background-image: url("img/alert.png");
}
.step-descr {
    display: block;
    margin-left: 45px;
}
#mainProgress .step-descr a {
    color: #979B9F;
}
.progress-descr {
    color: #333;
}
#loadScripts {
    display: none;
}
#iframeScripts {
    position: absolute;
    visibility: hidden;
}
.bottom-panel {
    bottom: 0;
    position: fixed;
    text-align: right;
    width: 100%;
}
.help-block span {
    font-size: 16px;
    line-height: 26px;
}




.blockTitle {
    background-color: #E2E2E2 !important;
    border: none !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    padding: 15px 25px !important;
}
.dialog-close {
    background: url("img/close.png") no-repeat scroll left top #E2E2E2;
    cursor: pointer;
    float: right;
    font-size: 1px;
    height: 12px;
    line-height: 1px;
    margin-top: 4px;
    width: 12px;
}
.blockPage {
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0 !important;
}