name: Artifact Nodejs

on:
  workflow_dispatch:
  push:
    branches: [master, main]
    paths: ['web/documentserver-example/nodejs/**']
  pull_request:
    branches: [master, main, develop]
    paths: ['web/documentserver-example/nodejs/**']

jobs:
  artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Build Artifact
        run: |
          cd ${{ github.workspace }}
          cwd=$(pwd)
          git submodule update --init --recursive
          cd ./web/documentserver-example/nodejs
          mkdir -p ./deploy/'Node.js Example'
          rsync -av --exclude='deploy' ./ ./deploy/'Node.js Example'
          cd ./deploy/'Node.js Example'/public/assets
          rm -rf ./.git/
          rm .git
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Node.js.Example
          path: ${{ github.workspace }}/web/documentserver-example/nodejs/deploy