name: Artifact PHP

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths: ['web/documentserver-example/php/**']
  pull_request:
    branches: [master]
    paths: ['web/documentserver-example/php/**']

jobs:
  artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Build Artifact
        run: |
          cd ${{ github.workspace }}
          cwd=$(pwd)
          git submodule update --init --recursive
          cd ./web/documentserver-example/php
          mkdir -p ./deploy/'PHP Example'
          rsync -av --exclude='deploy' ./ ./deploy/'PHP Example'
          cd ./deploy/'PHP Example'/assets
          rm -rf ./.git/
          rm .git
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: PHP.Example
          path: ${{ github.workspace }}/web/documentserver-example/php/deploy